.day{ 
    width: 30px; 
    color: white;
    border-radius: 13px;
    cursor: pointer;
}
.hg{
    height: fit-content;
    background: rgba(154, 235, 255, 0.39);
    box-shadow: 1px 1px 2px 2px rgb(238, 255, 238);
}
.Title{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 450px;
}
.time{
    float: left;
}
.Discription{
    float: left;
    
}
#inpDis{
    height: fit-content;
    text-align: right;
    direction: rtl;
    width: 190px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pElem{
    height: 35px;
    width: 100px;
    color: rgb(26, 14, 14);
    border: 1px solid rgb(239, 248, 239);
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(241, 247, 241);
    box-shadow: 2px 2px 4px 4px rgb(179, 234, 248);
}
.pElem-parent{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: blue;
}

.parent{
    display: flex;
    justify-content: space-between;
    margin:10px
}

input{
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 1px 1px 2px 2px rgb(230, 228, 228);
}
textarea {
    height: 100px;
    padding: 8px;
    direction: rtl;       
    resize: both;
    border: 1px solid white;         
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(230, 228, 228);
    
}

.day.active {
    background: rgb(0, 255, 21) !important;   /* یا هر رنگ دلخواه */
}
.add{
    background: rgb(189, 255, 183);
    border: 1px solid rgb(189, 255, 194) ;
    border-radius: 10px;
    margin: 10px;
    width: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add:hover{
    background: rgb(121, 255, 68);
    transition: background 0.4s;
    
}
#inps{
    display: flex;
}
.parentElem{
    margin: 10px;
    width: 100px;
    border: 1px black;
    background: white;
}